/* LoginDriving.css */

/* Custom styles for the page background */
body {
    background-color: #f0f0f0; /* Set the background color for the entire page */
  }
  
  /* Custom styles for the form */
  .form-container {
    max-width: 800px;
    height: 700px;
    margin: auto;
    margin-top: 40px;
    padding: 80px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Set the background color for the form */
  }
  h2{
    text-align: center; /* Center the text */
    color: #007bff; /* Heading color */
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 50px;
  }
  
  /* Custom styles for form elements */
  .form-label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 20px;
    margin-top: 20px;
  }
  .form-control {
    font-size: 20px; /* Set the font size for form controls */
  }
  
  .btn {
    font-size: 20px; /* Set the font size for buttons */
  }
  
  .error-message {
    font-size: 20px; /* Set the font size for error messages */
  }
  
  
  /* Add more custom styles as needed */
  